<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    <link rel="stylesheet" href="/styles/admin-dashboard.css">
</head>
<body>
<h2 class="film">Film</h2>
<div class="button-container down-padding">
    <button class="edit-button">
        <a href="/new-movie" class="button-link">Insert movie</a>
    </button>
</div>
<div class="table-container">
    <table class="movie-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Duration (min)</th>
            <th>Age Limit</th>
            <th>Release Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Base Price ($)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each movies}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{genre}}</td>
                <td>{{duration}}</td>
                <td>{{ageLimit}}</td>
                <td>{{releaseDate}}</td>
                <td>{{endDate}}</td>
                <td>{{description}}</td>
                <td>{{basePrice}}</td>
                <td>
                    <div class="button-container">
                        <button class="edit-button">
                            <a href="/edit-movie/{{id}}" class="button-link">Edit</a>
                        </button>
                        <button class="create-showtime-button">
                            <a href="/create-showtime/{{id}}" class="button-link">Showtime</a>
                        </button>
                        <button class="delete-button">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
