<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
    <link rel="stylesheet" href="/styles/admin-dashboard.css">
</head>
<body>
<h2 class="film">Film</h2>
<div class="button-container down-padding">
    <button class="edit-button">
        <a href="/new-movie" class="button-link">Opret Film</a>
    </button>
</div>
<div class="table-container">
    <table class="movie-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Genre</th>
            <th>Varighed (min)</th>
            <th>Alders grænse</th>
            <th>Udgivelses Dato</th>
            <th>Slut Dato</th>
            <th>Beskrivelse</th>
            <th>Basis Pris</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each movies}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{genre}}</td>
                <td>{{duration}}</td>
                <td>{{ageLimit}}</td>
                <td>{{releaseDate}}</td>
                <td>{{endDate}}</td>
                <td>{{description}}</td>
                <td>{{basePrice}}Dkk</td>
                <td>
                    <div class="button-container">
                        <button class="edit-button">
                            <a href="/edit-movie/{{id}}" class="button-link">Rediger</a>
                        </button>
                        <button class="create-showtime-button">
                            <a href="/create-showtime/{{id}}" class="button-link">Spilletid</a>
                        </button>
                        <button class="delete-button">
                            Slet
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script type="module" src="/js/redirect-if-not-admin.js"></script>
</body>
</html>
