<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/styles/movie.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>
<body>

<section class="movie-container">
    <div class="left-container">
        <img id="moviePoster" src="{{movie.moviePoster}}" class="movie-poster">
    </div>
    <div class="right-container">
        <h2 id="title">{{movie.title}}</h2>
        <p id="movieDetails" style="letter-spacing: 2px">
            Genre: <span class="span-gap" id="genre">{{movie.genre}}</span>Spilletid: <span class="span-gap" id="duration">{{movie.duration}} min</span>Aldersgrænse: <span class="span-gap" id="ageLimit">{{movie.ageLimit}} år</span>
        </p>
        <div class="line"></div>
        <p id="description">{{movie.description}}</p>
        <br>
        <br>
        <br>

        <!-- det her virker ikke, find ud af senere, nu er der i det mindste knap-->
        <button class="button">Reservér billetter</button>
        <div id="seat-popup" class="modal hidden">
            <div class="modal-content">
                <span class="close-btn span-gap">&times;</span>
                <h2>Vælg dine sæder</h2>

                <!-- Input til antal sæder -->
                <div id="seat-count-container">
                    <label for="seat-count">Antal sæder: </label>
                    <input type="number" id="seat-count" min="1" max="10" value="1">
                </div>

                <!-- Skærmsektion -->
                <div id="screen">LÆRRED - SCENE</div>

                <!-- Biografsal med sæder -->
                <div id="seat-container">
                    <!-- Her bliver sæder genereret dynamisk -->
                </div>

                <!-- Valgte pladser og pris -->
                <div id="seat-info">
                    <p id="selected-seats">Valgte pladser: Ingen</p>
                    <p id="total-price">Totalpris: 0 kr.</p>
                </div>

                <form>
                <button id="confirm-reservation">Bekræft Reservation</button>
                </form>
            </div>
        </div>
    </div>


</section>


</body>
<script src="/js/login.js"></script>
<script src="/js/movie.js"></script>

</html>
